-f https://download.pytorch.org/whl/torch_stable.html torch==1.1.0+cpu torchvision==0.3.0+cpu
numpy
pandas
Click==7.0
Flask==1.1.1
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
fastai==1.0.54
Flask==1.1.1
Werkzeug==0.14.1
gunicorn==19.9.0
 